.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
  position: relative;
  background-color: #f1f1f1;
}

.hamburger {
  cursor: pointer;
}

.navlinks {
  display: none;
  column-gap: 1.2rem;
}
.checkbox {
  display: none;
  user-select: none;
}
.checkbox:checked ~ div.navlinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 1.5rem 4rem;
  }
  .hamburger {
    display: none;
  }

  .navlinks {
    display: flex;
    flex-direction: row;
  }
}
