* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:root {
  --main-color: yellow;
  --bg-color: #f9f9f9;
}
.page {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
